@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --back-gr: linear-gradient(to top, #48e98b, #11bd5e);
    --font-color: #4ca9df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Poppins";
    background: var(--back-gr);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    background: white;
    font-size: 40px;
    color: var(--font-color);
    border-radius: 15px;
    padding: 10px 40px;
    border: none;
    outline: none;
    font-weight: 600px;
    font-weight: bold;
}

.box .result {
    height: 250px;
    width: 250px;
    border: 7px solid rgb(0, 255, 242);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 600px;
    margin: auto;
    margin-bottom: 60px;
    color: blue;
    font-weight:bold;
    text-shadow: 5px 5px 5px rgb(99, 165, 240);
}

.card {
    width: 200px;
    background: white;
    border-top-left-radius:30px ;
    border-top-right-radius:100px ;
    border-bottom-left-radius:180px ;
    border-bottom-right-radius:90px ;
    overflow: hidden;
    margin: 20px;
    
}

.card p {
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.card p:first-child {
    background-color: #1ca05e;
    color: white;

    font-weight: 600px;
}

.detail {
    display: flex;

}

.hide {
    display: none;
}